<template name="investorRegistration">
    <div class="login-wrapper">
        <div class="text-center">
            <h2 class="fadeInUp animation-delay10" style="font-weight:bold">
                <span class="text-success">Dropz</span> <span style="color:#ccc; text-shadow:0 1px #fff">Registration</span>
            </h2>
        </div>
        <div class="login-widget animation-delay1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="register-form" class="form-login" action="action">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" id="account-name"
                                   class="form-control input-sm bounceIn animation-delay2"/>
                        </div>
                        <div class="form-group">
                            <label>Expertise</label>
                            <input type="text" id="account-expertise"
                                   class="form-control input-sm bounceIn animation-delay2"/>
                        </div>
                        <div class="checkbox">
                            <label class="label-checkbox">
                                <input type="checkbox" id="investor_interested" checked/>
                                <span class="custom-checkbox"></span>
                                Interested<br/>
                            </label>
                        </div><!-- /checkbox -->
                        <!-- /form-group -->
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" id="account-email"
                                   class="form-control input-sm bounceIn animation-delay2"/>
                        </div>
                        <!-- /form-group -->
                        <div class="form-group">
                            <label>Password</label>

                            <input type="password" id="account-password"
                                   class="form-control input-sm bounceIn animation-delay3"/>
                        </div>

                        <div class="seperator"></div>
                        <div class="form-group">
                            <div class="controls">
                                Already have an account? <a href="{{pathFor 'signin'}}" class="primary-font login-link">Sign
                                In</a>
                            </div>
                        </div>
                        <!-- /form-group -->

                        <hr/>
                        <div class="form-group">
                            <div class="controls text-right">
                                <input type="submit" id="create-account" value="Create an Account" class="btn btn-success btn-sm bounceIn animation-delay7 login-link"/>
                            </div>
                        </div>
                        <!-- /form-group -->
                    </form>
                </div>
            </div>
            <!-- /panel -->
        </div>
        <!-- /login-widget -->
    </div>
    <!-- /login-wrapper -->
</template>
