<template name="splash_page">

    <div id="landing-content">

        <div class="bg-white text-center content-padding">
            <div class="container">
                <h2>Dropz</h2>

                <h4 class="text-muted">Connecting entrepreneurs and investors</h4>
                <br><br>

                <div class="row">
                    <div class="col-sm-4 content-padding">
                    </div>
                    <div class="col-sm-4 content-padding">
                        <div id="start_app" class="panel panel-default panel-stat1 bg-success">
                            <div class="panel-body">
                                <div class="value">Register</div>
                            </div>
                        </div>
                        <!-- /panel -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 content-padding">
                    </div>
                </div>
                <!-- /.row -->

                <!--<img src="img/copenhagen.jpg" alt="" class="fadeInRightLarge no-animation animated-element m-top-md animation-delay1">-->
                <br><br>

            </div>
        </div>

    </div>
    <!-- /landing-content -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 padding-md">
                    <p class="font-lg">About Dropz</p>

                    <p>
                        <small>
                        </small>
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-sm-3 padding-md">
                    <p class="font-lg">Useful Links</p>
                    <ul class="list-unstyled useful-link">
                        <li>
                            <a href="#">
                                <small><i class="fa fa-chevron-right"></i> Entrepreneur</small>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.col -->
                <div class="col-sm-3 padding-md">
                    <p class="font-lg">Stay Connected</p>
                    <a href="#" class="social-connect tooltip-test facebook-hover pull-left m-right-xs"
                       data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-connect tooltip-test twitter-hover pull-left m-right-xs"
                       data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-connect tooltip-test linkedin-hover pull-left m-right-xs"
                       data-toggle="tooltip" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
                <!-- /.col -->
                <div class="col-sm-3 padding-md">
                    <p class="font-lg">Contact Us</p>
                    <br>
                    Email : info@dropz.com
                    <div class="seperator"></div>
                    <!--<a class="btn btn-info"><i class="fa fa-envelope"></i> Contact support</a>-->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </footer>

    <!--<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>-->

</template>
