<template name="investors">

    <div class="section-header">
        <hr class="left visible-lg">
        <span>Welcome {{getStartupInformation}}</span>
        <hr class="right visible-lg">
    </div>

    <div class="panel panel-default table-responsive">
        <div class="panel-heading">Investors</div>
        <div class="padding-md clearfix">
            <table class="table table-striped" id="dataTable">
                <thead>
                <tr>
                    <th class="col-xs-2 col-md-2 text-left">Name</th>
                    <th class="col-xs-2 col-md-2 text-left">Email</th>
                    <th class="col-xs-2 col-md-2 text-left">Expertise</th>
                    <th class="col-xs-2 col-md-2 text-center">Interested</th>
                    <th class="col-xs-2 col-md-2 text-center">Status</th>
                    <th class="col-xs-2 col-md-2 text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                {{#each investors}}
                    {{> investorItem}}
                {{/each}}
                </tbody>
            </table>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Add investor</div>
        <div class="panel-body">
            <form class="form-inline no-margin">
                <div class="form-group">
                    <label class="sr-only">Name</label>
                    <input type="text" class="form-control input-sm" id="investor_name" placeholder="Name">
                </div><!-- /form-group -->
                <div class="form-group">
                    <label class="sr-only">Email address</label>
                    <input type="text" class="form-control input-sm" id="investor_email" placeholder="Email Address">
                </div><!-- /form-group -->
                <div class="form-group">
                    <label class="sr-only">Expertise</label>
                    <input type="text" class="form-control input-sm" id="investor_expertise" placeholder="Expertise">
                </div><!-- /form-group -->
                <div class="checkbox">
                    <label class="label-checkbox">
                        <input type="checkbox" id="investor_interested" checked/>
                        <span class="custom-checkbox"></span>
                        Interested<br/>
                    </label>
                </div><!-- /checkbox -->
                &nbsp;
                <button type="submit" class="btn btn-sm btn-success">Insert investor</button>
            </form>
        </div>
    </div><!-- /panel -->

</template>

<template name="investorItem">
    <tr>
        <td class="col-xs-2 col-md-2 text-left">{{name}}</td>
        <td class="col-xs-2 col-md-2 text-left">{{email}}</td>
        <td class="col-xs-2 col-md-2 text-left">{{expertise}}</td>
        <td class="col-xs-2 col-md-2 text-center">{{getInterested}}</td>
        <td class="col-xs-2 col-md-2 text-center">{{getStatus}}</td>
        <td class="col-xs-2 col-md-2 text-center"><button type="button" id="deleteButton" class="btn btn-warning btn-xs">Delete investor</button></td>
    </tr>
</template>

